{%extends "public/templates/public_template.html"%}    
{%block title%} Public {%endblock%}
     
{%block main%}
<style>
   .test{
    opacity: 1;
    /* background-image: url('{{ url_for("static", filename="dist/img/photo1.png") }}'); */
    
  }
  .content{
    margin-left:10%; 
    margin-top:10%;
  }
  .card-transparent{
    /* opacity: 0.5; */
    margin-bottom: 9.3rem;
  }
  .tulis{
    color: white;
    text-shadow: 2px 2px 10px black, 0 0 20px black;
  }
</style>    
<!-- Content Wrapper. Contains page content content-wrapper -->
 <div class="test " style="margin-left:0px;">
   <!-- Content Header (Page header) -->

   <!-- Main content style="margin-left:10%; margin-top:10%;"-->
   <section class="content" >
       <!-- <h1>public</h1> -->

       <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div class="card-transparent" >
              <div class="card-body">
                <div class="tulis">
                  <h1 class="card-text"><strong> SIAKAD Sekolah Menengah Atas "Z"</strong></h1>
                  <h5 class="card-title">Media Digital Layanan Bimbingan, Monitoring dan Penilaian Akademik</h5>
                  <br><br>
                  <br><br>
                </div>
                <a href="{{url_for('user_login')}}" class="card-link">
                  <button type="submit" class="btn btn-lg btn-warning">Siswa</button>
                </a>
                <a href="{{url_for('admin_login')}}" class="card-link">
                  <button type="submit" class="btn btn-lg btn-info">Guru</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
       
     <!-- /.container-fluid -->
   </section>
   <!-- /.content -->
 </div>
 <!-- /.content-wrapper -->
{%endblock%}